name: Build and upload web files - Staging

on:
  workflow_dispatch:
  workflow_run:
    workflows: ['Terraform apply - Staging']
    types:
      - completed

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.11.2
  TERRAGRUNT_VERSION: 0.78.0
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  NX_CLOUD_DISTRIBUTED_EXECUTION_AGENT_COUNT: 3
  AA_CREDS_POOL: ${{ secrets.AA_CREDS_POOL_STAGING }}
  AIRTABLE_TOKEN: ${{ secrets.AIRTABLE_TOKEN }}
  AW_CLIENT_ID: ${{ secrets.AW_CLIENT_ID_STAGING }}
  AW_CLIENT_SECRET: ${{ secrets.AW_CLIENT_SECRET_STAGING }}
  AW_COMPANY_ID: ${{ secrets.AW_COMPANY_ID }}
  AW_ORGANIZATION_ID: ${{ secrets.AW_ORGANIZATION_ID }}
  AW_REPORTSUITE_ID: ${{ secrets.AW_REPORTSUITE_ID }}
  AW_TECHNICAL_ID: ${{ secrets.AW_TECHNICAL_ID }}
  CLOUDFRONT_WAF_ALLOWED_IPS: ${{ secrets.CLOUDFRONT_WAF_ALLOWED_IPS }}
  DOCDB_USERNAME: ${{ secrets.DOCDB_USERNAME }}
  DOCDB_PASSWORD: ${{ secrets.DOCDB_PASSWORD }}
  FEEDBACK_API_HOST: ${{ secrets.FEEDBACK_API_HOST }}
  FEEDBACK_API_USERNAME: ${{ secrets.FEEDBACK_API_USERNAME }}
  FEEDBACK_API_PASSWORD: ${{ secrets.FEEDBACK_API_PASSWORD }}
  GSC_EMAIL: ${{ secrets.GSC_EMAIL_STAGING }}
  GSC_KEY: ${{ secrets.GSC_KEY_STAGING }}
  NOTIFY_API_KEY: ${{ secrets.NOTIFY_API_KEY }}
  NOTIFY_EMAIL: ${{ secrets.NOTIFY_EMAIL }}
  NOTIFY_EMAIL_2: ${{ secrets.NOTIFY_EMAIL_2 }}
  PAGESPEED_API_KEY: ${{ secrets.PAGESPEED_API_KEY }}
  AIRTABLE_BASE_ANNOTATIONS: ${{ vars.AIRTABLE_BASE_ANNOTATIONS }}
  AIRTABLE_BASE_GCTASKSMAPPINGS: ${{ vars.AIRTABLE_BASE_GCTASKSMAPPINGS }}
  AIRTABLE_BASE_TASKS_INVENTORY: ${{ vars.AIRTABLE_BASE_TASKS_INVENTORY }}
  AIRTABLE_BASE_FEEDBACK: ${{ vars.AIRTABLE_BASE_FEEDBACK }}
  AIRTABLE_BASE_LIVE_FEEDBACK: ${{ vars.AIRTABLE_BASE_LIVE_FEEDBACK }}
  AIRTABLE_BASE_PAGES: ${{ vars.AIRTABLE_BASE_PAGES }}
  AIRTABLE_BASE_SEARCH_ASSESSMENT: ${{ vars.AIRTABLE_BASE_SEARCH_ASSESSMENT }}
  AIRTABLE_BASE_DCD_2021_Q1: ${{ vars.AIRTABLE_BASE_DCD_2021_Q1 }}
  AIRTABLE_BASE_DCD_2021_Q2: ${{ vars.AIRTABLE_BASE_DCD_2021_Q2 }}
  AIRTABLE_BASE_DCD_2021_Q3: ${{ vars.AIRTABLE_BASE_DCD_2021_Q3 }}
  AIRTABLE_BASE_DCD_2021_Q4: ${{ vars.AIRTABLE_BASE_DCD_2021_Q4 }}
  AIRTABLE_BASE_DCD_2022_Q1: ${{ vars.AIRTABLE_BASE_DCD_2022_Q1 }}
  AIRTABLE_BASE_DCD_2022_Q2: ${{ vars.AIRTABLE_BASE_DCD_2022_Q2 }}
  AIRTABLE_BASE_DCD_2022_Q3: ${{ vars.AIRTABLE_BASE_DCD_2022_Q3 }}
  AIRTABLE_BASE_DCD_2022_Q4: ${{ vars.AIRTABLE_BASE_DCD_2022_Q4 }}
  AIRTABLE_BASE_DCD_2023_Q1: ${{ vars.AIRTABLE_BASE_DCD_2023_Q1 }}
  AIRTABLE_BASE_DCD_2023_Q2: ${{ vars.AIRTABLE_BASE_DCD_2023_Q2 }}
  AIRTABLE_BASE_DCD_2023_Q3: ${{ vars.AIRTABLE_BASE_DCD_2023_Q3 }}
  AIRTABLE_BASE_DCD_2023_Q4: ${{ vars.AIRTABLE_BASE_DCD_2023_Q4 }}
  AIRTABLE_BASE_DCD_2024_Q1: ${{ vars.AIRTABLE_BASE_DCD_2024_Q1 }}
  AIRTABLE_BASE_DCD_2024_Q2: ${{ vars.AIRTABLE_BASE_DCD_2024_Q2 }}
  AIRTABLE_BASE_DCD_2024_Q3: ${{ vars.AIRTABLE_BASE_DCD_2024_Q3 }}
  AIRTABLE_BASE_DCD_2024_Q4: ${{ vars.AIRTABLE_BASE_DCD_2024_Q4 }}
  AIRTABLE_BASE_DCD_2025_Q1: ${{ vars.AIRTABLE_BASE_DCD_2025_Q1 }}
  AIRTABLE_BASE_DCD_2025_Q2: ${{ vars.AIRTABLE_BASE_DCD_2025_Q2 }}
  AIRTABLE_BASE_DCD_2025_Q3: ${{ vars.AIRTABLE_BASE_DCD_2025_Q3 }}
  AIRTABLE_BASE_DCD_2025_Q4: ${{ vars.AIRTABLE_BASE_DCD_2025_Q4 }}
  AIRTABLE_BASE_DCD_2026_Q1: ${{ vars.AIRTABLE_BASE_DCD_2026_Q1 }}
  AIRTABLE_BASE_DCD_2026_Q2: ${{ vars.AIRTABLE_BASE_DCD_2026_Q2 }}
  AIRTABLE_BASE_DCD_2026_Q3: ${{ vars.AIRTABLE_BASE_DCD_2026_Q3 }}
  AIRTABLE_BASE_DCD_2026_Q4: ${{ vars.AIRTABLE_BASE_DCD_2026_Q4 }}
  NOTIFY_TEMPLATE_ID_EN: ${{ vars.NOTIFY_TEMPLATE_ID_EN }}
  NOTIFY_TEMPLATE_ID_FR: ${{ vars.NOTIFY_TEMPLATE_ID_FR }}
  STORAGE_URI_PREFIX: ${{ vars.STORAGE_URI_PREFIX }}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write
  actions: write
  checks: write
  statuses: write

jobs:
  check-affected:
    name: Check if web files are affected
    runs-on: ubuntu-latest
    outputs:
      is_affected: ${{ contains(fromJson(steps.affected-apps.outputs.affected_apps), 'upd') }}
    steps:
      - name: Checkout [staging branch]
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
          filter: tree:0
          ref: ${{ github.repository == 'cds-snc/cra-arc-upd-tbpc' && 'staging' || 'main' }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24.11.0

      - name: Use the node_modules cache if available [npm]
        id: use-npm-cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-24.11.0-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.use-npm-cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Find affected SHAs
        id: affected-shas
        uses: nrwl/nx-set-shas@v4 # Sets the NX_BASE and NX_HEAD env variables
        with:
          main-branch-name: staging # The branch used to find the base SHA

      - name: Determine affected apps
        id: affected-apps
        run: |
          AFFECTED_APPS=$(npx nx show projects --affected --with-target build --type app --json --base ${{ env.NX_BASE }} --head ${{ env.NX_HEAD }})

          echo "affected_apps=$AFFECTED_APPS" >> $GITHUB_OUTPUT

  check-cloud-available:
    name: Check Nx Cloud availability
    needs: check-affected
    if: needs.check-affected.outputs.is_affected == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Nx Cloud Availability
        id: check-cloud-availability
        continue-on-error: true
        env:
          NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
        working-directory: ${{ github.workspace }}
        run: |
          npx nx-cloud start-ci-run --distribute-on="1 linux-small-js" && npx nx record -- echo "Check Nx Cloud availability"
    outputs:
      cloud-available: ${{ steps.check-cloud-availability.outcome == 'success' && 'true' || 'false' }}

  build:
    name: Nx Cloud - Build web - Main Job
    if: github.repository == 'cds-snc/cra-arc-upd-tbpc' && (github.event_name == 'push' || github.event.workflow_run.conclusion == 'success') && needs.check-affected.outputs.is_affected == 'true'
    needs: [check-cloud-available, check-affected]
    uses: ./.github/workflows/nx-cloud-main.yml
    secrets:
      NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
    with:
      node-version: 24.11.0
      number-of-agents: ${{ needs.check-cloud-available.outputs.cloud-available == 'true' && 3 || 0 }}
      skip-start-ci-run: true
      skip-cloud: ${{ needs.check-cloud-available.outputs.cloud-available == 'false' }}
      init-commands: |
        if [ "${{ needs.check-cloud-available.outputs.cloud-available }}" != "true" ]; then
          echo "Nx Cloud is not available. Remote cache will not be used."
        else
          npx nx-cloud start-ci-run --distribute-on="manual" --stop-agents-after=build
        fi
      # Because separate jobs don't share the same filesystem, we'll upload the build
      # output as an artifact, and then download it in the `upload` job.
      artifacts-name: upd-web-files-staging
      artifacts-path: dist/apps/upd
      artifacts-retention-days: 1
      artifacts-overwrite: true
      parallel-commands-on-agents: |
        npx nx run upd:build --parallel --prod

  agents:
    name: Nx Cloud - Build web - Agents
    if: github.repository == 'cds-snc/cra-arc-upd-tbpc' && needs.check-cloud-available.outputs.cloud-available == 'true' && needs.check-affected.outputs.is_affected == 'true'
    needs: [check-cloud-available, check-affected]
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.15.0
    secrets:
      NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
    with:
      node-version: 24.11.0
      number-of-agents: 3

  upload:
    name: Upload web files to S3
    if: github.repository == 'cds-snc/cra-arc-upd-tbpc' && needs.check-affected.outputs.is_affected == 'true'
    needs: [build, check-affected]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: staging

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: upd-web-files-staging
          path: dist/apps/upd

      - name: Setup Terraform Tools
        uses: cds-snc/terraform-tools-setup@v1

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          role-to-assume: arn:aws:iam::211125499457:role/cra-arc-upd-tbpc-apply
          role-session-name: TFApply-uploadWebFiles
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload web files to S3
        working-directory: terragrunt/env/staging/s3_web_files
        run: terragrunt apply --terragrunt-non-interactive -auto-approve
